header {
    background-image: url("header.jpg");
    padding:200px;
    background-attachment: fixed;
    background-size: contain;
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center; 
    display: block;
}
nav {
    display: inline-block;
}
body {
    background-image: url(body.jpeg);
    padding:200px;
    background-attachment: fixed;
    background-size: contain;
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center; 
    display: block;
   font:normal 15px/2.0em Sans-Serif;
}

nav ul li a {
    background: transparent;
    padding: 2px 10px;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    font-family: Trebuchet MS;
}
nav ul li a:hover {
	background: gray;
}
nav ul li {
    display: inline-block;
    margin: 0;
}
aside {
    padding:0;
   float:center;
}

article {
    border-bottom: 2px dotted;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
article h2 {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 15px ;
}

article p {
    word-wrap: break-word;
    font-style: normal;
}
footer {
    background-image: url(header.jpg);
    max-width: 10000px;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    max-height: 500px;

}
footer p {
    padding: 5px;
    text-decoration: underline;
    font-weight: bolder;
    text-decoration: none;
    font-family: Trebuchet MS;
}
#headerp {  
     background-image: url("header.jpg");
    padding:200px;
    background-attachment: fixed;
    background-size: contain;
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center; 
    display: block;
}
#h2p  {
    color: black;
    font-family: Trebuchet MS;
    margin-bottom: 12px;
    font-size: 15px ;

}

#footerp {
    background-image: url(header.jpg);
    max-width: 10000px;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    max-height: 500px; 
}
#navullist {
    color: black;
    font-family: Trebuchet MS;
    margin-bottom: 12px;
    font-size: 15px ;
    float: center;
}
#footerstud {
    background-image: url(header.jpg);
    max-width: 10000px;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    max-height: 500px; 
}
#navullistaff {
    color: black;
    font-family: Trebuchet MS;
    margin-bottom: 12px;
    font-size: 15px ;

}

#footerstaff {
    background-image: url(header.jpg);
    max-width: 10000px;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; 
    max-height: 500px; 
}

div.gallery {
    margin: 10px;
    border: 5px solid #ccc;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    }





@media screen and (max-width: 1000px) {
    body > section {
        padding: 30px 20px;
    }
}
@media screen and (max-width: 600px) {
    main {
        float: none;
        width: 100%;
    }
    aside {
        float: none;
        width: 100%;
        display: block;
    }

}
